.wrapper {
	width: 1200px;
}
body
{ 
	  text-align: left; 
	  color: #069;
	  font-family: Myriad pro;
	  background: purple;
	}


nav {
background-color: #E8C66A;
border: 1px black solid;
padding: 20px;
}


header {
background-color: #FFED74;
border: 1px black solid;
padding: 10px;

}

aside{
background-color: #FFC675;
border: 1px black solid;
padding: 10px;
	
}

article {
background-color: #E89C6C;
border: 1px black solid;
padding: 20px;	
}

footer {
background-color: #FF957E;
border: 1px black solid;
padding: 20px;	
}

div {
background-color: #FFE2B8;
border: 1px black solid;
padding: 20px;	

}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}





