@import url(https://fonts.googleapis.com/css?family=Playball);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
body {
	background: #FFF576
}

h1{
font-family:'Playball', cursive;
font-size: 60px;
text-align: center;
color: #9B3FB2;
}


h2{
font-family: 'Kaushan Script', cursive;
text-align: center;
font-size: 30px;
color: #CC4AAB;
}


p{
	font-style:italic;
	text-align: center;
	font-size: 15px;
	color: #1D78E8;
}